@import "tailwindcss";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/noto-sans-jp";
@import "@fontsource-variable/jetbrains-mono";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Inter Variable", "Noto Sans JP Variable", sans-serif;
    --font-mono: "JetBrains Mono Variable", monospace;
    --default-mono-font-family: var(--font-mono);
}
